/* css styles */
.course_description {
  /*border: 2px solid #00C1D4; */
  /*background-color: #00C1D4; */
  opacity: 1;
}

.r_explanation {
  background-color: rgb(1,22,39);
  background-color: rgba(1,22,39, 0.4);
  padding: 25px 50px 50px 25px;
}

.btn {
  padding-left: 32px;
  position: relative;
}
.btn:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  left: 10px;
  content: "\f005";
}